#raccoony-ui {
	position: fixed;
	left: 0;
	bottom: 0;
	transition: opacity .4s;
	opacity: .25;
	padding: .25em;
	z-index: 10000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

#raccoony-ui:hover,
#raccoony-ui.active {
	opacity: 1;
}

@keyframes raccoony-fadein-anim {
	from {opacity: 0; }
	to { opacity: 1; }
}

@keyframes raccoony-fadeout-anim {
	from { opacity: 1; }
	to { opacity: 0; }
}

#raccoony-ui .raccoony-hide,
#raccoony-ui.raccoony-hide {
	display: none;
}

#raccoony-ui .raccoony-begin-hide,
#raccoony-ui.raccoony-begin-hide {
	animation: raccoony-fadeout-anim .3s;
}

#raccoony-ui .raccoony-show,
#raccoony-ui.raccoony-show {
	animation: raccoony-fadein-anim .3s;
	display: block;
}

#raccoony-ui #raccoony-close {
	position: absolute;
	display: block;
	left: 0;
	bottom: 44px;
	color: #fff;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border: 2px solid #fff;
	border-radius: 10px;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	opacity: 0;
	transition: opacity .4s;
	background-color: rgba(0, 0, 0, .5);
}
#raccoony-ui:hover #raccoony-close {
	opacity: .5;
}

#raccoony-ui #raccoony-close:hover {
	opacity: 1;
}

#raccoony-ctr, 
#raccoony-img {
	display: inline-block;
	vertical-align: bottom;
}

#raccoony-dl-progress {
	width: 100%;
}

.raccoony-bubble {
	background-color: #ddd;
	border-radius: 5px;
	min-height: 50px;
	padding: 5px 10px;
	
	background-image: -moz-linear-gradient(top, #ddd, #ddd);
	position: relative;
	margin-left: 15px;
}

.raccoony-bubble::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
	
	/* below styles align the beak */
	left: -20px;
	top: 40%;
	border-right: 10px solid #ddd;
}