#raccoony-ui {
	position: fixed;
	left: 0;
	bottom: 0;
	transition: opacity 200ms;
	opacity: .25;
	padding: .25em;
	z-index: 10000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

#raccoony-ui:hover,
#raccoony-ui.active {
	opacity: 1;
}

@keyframes raccoony-fadein-anim {
	from {opacity: 0; }
	to { opacity: 1; }
}

@keyframes raccoony-fadeout-anim {
	from { opacity: 1; }
	to { opacity: 0; }
}

#raccoony-ui .raccoony-hide,
#raccoony-ui.raccoony-hide {
	animation: raccoony-fadeout-anim .5s;
	display: none;
}

#raccoony-ui .raccoony-begin-hide,
#raccoony-ui.raccoony-begin-hide {
	animation: raccoony-fadeout-anim .5s;
}

#raccoony-ui .raccoony-show,
#raccoony-ui.raccoony-show {
	animation: raccoony-fadein-anim .5s;
	display: block;
}

#raccoony-ctr, 
#raccoony-img {
	display: inline-block;
	vertical-align: bottom;
}

#raccoony-dl-progress {
	width: 100%;
}

.raccoony-bubble {
	background-color: #ddd;
	border-radius: 5px;
	min-height: 50px;
	padding: 5px 10px;
	
	background-image: -moz-linear-gradient(top, #ddd, #ddd);
	position: relative;
	margin-left: 15px;
}

.raccoony-bubble::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
	
	/* below styles align the beak */
	left: -20px;
	top: 40%;
	border-right: 10px solid #ddd;
}